        .Chat {
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;
            padding: 8px;
            overflow-y: auto;
        }
        
        .Message {
            width: 90%;
            padding: 0 16px;
            border-radius: 16px;
            font-size: 14px;
            &[data-role="user"] {
                align-self: flex-end;
                background: #f3f3f3;
            }
            &[data-role="assistant"] {
                background: #E0F2F7;
                /* A very light, soft blue */
                &[agent="sql_proxy"] {
                    background: #DDF1F7;
                    /* Slightly different very light blue */
                }
                &[agent="graph_agent"] {
                    background: #F0E6F7;
                    /* A light, soft lavender */
                }
                &[agent="graph_executor"] {
                    background: #FFFBE6;
                    /* A very light, pale yellow */
                }
                &[agent="query_agent"] {
                    background: #F7E0E0;
                    /* A very light, soft coral */
                }
                &[agent="executor_query"] {
                    background: #F7EFDF;
                    /* A light, creamy tan */
                }
                &[agent="add_filter_agent"] {
                    background: #FCEEF1;
                    /* A very light pinkish hue */
                }
                &[agent="add_filter_executor"] {
                    background: #EAF7E8;
                    /* A very light, fresh green */
                }
                &[agent="RAG_agent"] {
                    background: #E8DFF2;
                    /* A light, muted purple */
                }
                &[agent="RAG_executor"] {
                    background: #E4F7E7;
                    /* A light, subtle green */
                }
            }
        }
        
        .AssistantMessages {
            display: flex;
        }
        
        .Logo {
            display: flex !important;
            justify-content: right !important;
            width: 4vh !important;
            height: 4vh !important;
            align-items: right !important;
            margin-top: 0px !important;
            margin-right: 10px;
        }
        
        .AgentTitle {
            font-weight: bold;
        }