        .Chat {
            display: flex;
            flex-direction: column;
            gap: 8px;
            height: 100%;
            padding: 8px;
            overflow-y: auto;
        }
        
        .Message {
            width: 90%;
            padding: 0 16px;
            border-radius: 16px;
            font-size: 14px;
            &[data-role="user"] {
                align-self: flex-end;
                background: #f3f3f3;
            }
            &[data-role="assistant"] {
                background: lightblue;
                &[agent="sql_proxy"] {
                    background: lightblue;
                }
                &[agent="graph_agent"] {
                    background: thistle;
                }
                &[agent="graph_executor"] {
                    background: lemonchiffon;
                }
                &[agent="query_agent"] {
                    background: lightcoral;
                }
                &[agent="executor_query"] {
                    background: navajowhite;
                }
                &[agent="add_filter_agent"] {
                    background: #e6a4b4;
                }
                &[agent="add_filter_executor"] {
                    background: #d3f6d1;
                }
                &[agent="RAG_agent"] {
                    background: rgb(169, 135, 197);
                }
                &[agent="RAG_executor"] {
                    background: rgb(158, 233, 162);
                }
            }
        }
        
        .AssistantMessages {
            display: flex;
        }
        
        .Logo {
            display: flex !important;
            justify-content: right !important;
            width: 4vh !important;
            height: 4vh !important;
            align-items: right !important;
            margin-top: 0px !important;
            margin-right: 10px;
        }
        
        .AgentTitle {
            font-weight: bold;
        }