.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  padding: 16px;
}

.Header {
  text-align: center;
}

.Logo {
  width: 64px;
  height: 64px;
}

.Title {
  margin: 0;
}

.ChatContainer {
  flex-grow: 1;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  overflow-y: auto;
}
.left {
  flex: 5;
}

.right {
  display: inline-block;
  flex: 5;
  margin: auto;
}
.row {
  display: flex;
  height: 100%;
}
.container {
  position: fixed;
  height: 99vh;
  left: 0;
  background-color: lightgrey;
  font-size: 10px;
  width: 99vw;
  margin: 0;
  display: inline-block;

}
