.left {
  flex-grow: 19; /* Takes up 9 parts of the available space */
  height: 50%;
  font-size: 16px;
  border: none;
}

.right {
  display: inline-flex;
  flex-grow: 1; /* Takes up 1 part of the available space */
  align-items: center;
  justify-content: center;
  height: 50%;
  border: none;
  background: white;
}

.row {
  display: flex;
  height: 10vh; /* Adjust as needed */
  width: 100%;
}
.left textarea {
  width: 100%; /* Make the textarea fill its parent .left */
  height: 100%; /* You might want to adjust this based on your desired vertical size */
  box-sizing: border-box; 
  border: none;/* Include padding and border in the element's total width and height */
  /* Add any other textarea specific styles here */
}
.left textarea:focus {
  outline: none;
}